.sideDrilling{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  border-radius: 10px;
  background-color: #5b5b5b;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.343);
}
.proInfo{
  background-color: #9E007E;
  color: #F1EFEC;
  width: 80%;
  padding: 10px 0px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.bookBoxTop{
  background-color: #9E007E;
  color: #F1EFEC;
  width: 80%;
  padding: 10px 0px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.bookBoxMiddle{
  background-color: #9E007E;
  color: #F1EFEC;
  width: 80%;
  padding: 10px 0px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.bookBoxBottom{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.bookBoxBottom button{
  background-color: #9E007E;
  color: #F1EFEC;
  border: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
}





