.bookGuessing{
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  height: 80%;
  min-height: 500px;
  max-width: 600px;
  background-color: #8d0a73;
  padding: 10px;
}
.output{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}




.inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  background-color: light;
}      
.input-left,
.input-right{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: space-around;
  box-shadow:0px 0px 10px 1px #00000035;
  background-color: #ffffff;
  overflow: hidden;
}   
.input-left-top,
.input-left-bottom,
.input-right-top,
.input-right-bottom{
  display: flex;
}
.input-left-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  height: 80%;

}

.test-left{
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 10px;

}

.input-right-top{
  gap: 50px;
  height: 80%;
}


.test-right{
  display: grid;

  gap: 10px;

}






.get-book-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.bookButtons{
  height: 100%;
  width: 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.515);
  background-color: #ffb300;
  color: #000000;
  border: 0;
}
.bookButtonsRight{
  background-color: rgb(16, 117, 16);
  color: white;
}
.bookButtonsWrong{
  background-color: rgb(201, 17, 17);
  color: white;
}
/*
.bookButtons:hover{
  background-color: #c78b00;
}
.bookButtonsRight{
  background-color: rgb(16, 117, 16);
  color: white;
}
.bookButtonsRight:hover{
  background-color: rgb(16, 117, 16);
  color: white;
}
.bookButtonsWrong{
  background-color: rgb(201, 17, 17);
  color: white;
}
.bookButtonsWrong:hover{
  background-color: rgb(201, 17, 17);
  color: white;
}
*/
.get-book-button{
  background-color: #ffb300;
  color: #000000;
  height: 50%;
  width: 40%;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.485);
}
.get-book-button:hover{
  background-color: #c78b00;
}













.resultBookGuessing{
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  height: 80%;
  min-height: 500px;
  max-width: 600px;
  background-color: #8d0a73;
  padding: 10px;
}
.resultColoreBox{
  position: relative;
  background-color: #ffffff;
  height: 100%;
}
.resultOutput{
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8d0a73;
  color: white;
}


.resultInputs{
  position: relative;
  display: flex;
  flex-direction: column;
} 

.resultInput-left,
.resultInput-right{
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #8d0a73;
}  
.resultResultDisplay{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 80%;
  background-color: white;
}
.resultDisplayColorRight,
.resultDisplayColorWrong{
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.resultDisplayColorRight{
  background-color: rgb(16, 117, 16);
}
.resultDisplayColorWrong{
  background-color: rgb(201, 17, 17);
}

.resultGet-book-box{
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d0a73;
}

.resultGet-book-button{
  background-color: #ffffff;
  color: #000000;
  height: 50%;
  width: 40%;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.485);
}















