.fixedTop{
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%; 
  background-color: white;
  box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.642);
}
.topContent{
  display: flex;
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}
.fixedTopLogo{
  height: 50%;
}
.logo{
  height: 100%;
}
.hederChoiceText{
  background-color: #8d0a73;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.hederChoiceText:hover{
  transition: .3s;
  color: #8d0a73;
  background-color: #ffffff;
}
.main{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 100px; /*?*/
  height: 80%; /*endere*/
}