.fixedTop{
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%; 
  background-color: white;
  box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.642);
}
.topContent{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.fixedTopLogo{
  height: 50%;
}
.logo{
  height: 100%;
}
.hederChoice{
  display: flex;
  justify-content: space-between;
  width: 100%;



  padding: 10px;
  margin: 20px;


}
.hederChoiceText{

}

.mainTest{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 100px; /*?*/
  height: 80%; /*endere*/
}