.fixedTop{
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%; 
  background-color: white;
  box-shadow: 0px -2px 7px 1px rgba(0, 0, 0, 0.642);
}
.topContent{
  display: flex;
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}
.fixedTopLogo{
  height: 50%;
}
.logo{
  height: 100%;
}
.hederChoiceText{
  background-color: #8d0a73;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.hederChoiceText:hover{
  transition: .3s;
  color: #8d0a73;
  background-color: #ffffff;
}
.main{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 100px; /*?*/
  height: 80%; /*endere*/
}
.dropbtn {
  background-color: #8d0a73;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 100px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d0a73;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5e074d;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  right: 0;

}

.dropdown:hover .dropbtn {
  background-color: #8d0a73;
}